<form novalidate class="add_edit_form" name="form" ng-submit="$ctrl.submitForm(form.$valid)">
    <div class="column_add_edit_form">
        <div><span class="add_edit_form_label">Tytuł:</span>
        <input ng-model="$ctrl.title" name="iTitle" required="required"/>
        </div>
        <div ng-show="form.iTitle.$touched" class="errorText"><span ng-show="form.iTitle.$error.required">Tytuł jest wymagany</span>
        </div>
        <div>
        <span class="add_edit_form_label">Podtytuł</span>
        <input ng-model="$ctrl.subtitle" name="iSubtitle" required="required"/></div>
        <div ng-show="form.iSubtitle.$touched" class="errorText"><span ng-show="form.iSubtitle.$error.required">Podtytuł jest wymagany</span>
        </div>
        <div>
        <span class="add_edit_form_label">Kategoria</span>
        <select ng-model="$ctrl.category">
            <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
        </select>
        </div>
        <div style="margin:0 auto;">
            <img ng-src="data:image/*;base64,{{$ctrl.image.base64}}"
                 style="display: block; margin: 10px auto; max-width:250px">
            <input id="fileManager" type="file" accept="image/*" base-sixty-four-input ng-model="$ctrl.image"
                   onload="$ctrl.changeFileInputVisibility($index)" style="display:none">
            <label for="fileManager" class="btn btn-primary">Wybierz plik</label>
        </div>
    </div>
    <div class="column_add_edit_form">
        <p> Opis zadania</p>
        <textarea ng-model="$ctrl.description" name="iDescription" required="required"></textarea>
        <div ng-show="form.iDescription.$touched" class="errorText"><span ng-show="form.iDescription.$error.required">Opis jest wymagany</span>
        </div>
        <div class="actions_container">
            <button type="submit" class="btn btn-primary">Zapisz</button>
            <button ng-if="$ctrl.recordId!=undefined" ng-click="$ctrl.deleteRecord($ctrl.id)" class="btn btn-danger">Usuń
            </button>
            <div><a href="#!/scrumRetroTable/{{$ctrl.category}}" style="margin-right:150px;">Powrót</a></div>
        </div>


    </div>

    <br>
</form>