<div class="main_menu_surround">
    <div class="main_menu" style="width: 54%">
        <div><span>Szukaj:</span>
        <input ng-model="$ctrl.searchQuery">
        </div>
        <div><a ng-href="#!/scrumRetroTable/">Powrót</a></div>

    </div>
</div>
<div ng-repeat="retroActivity in $ctrl.allRetroActivities | filter:$ctrl.search"
     class="bg bg{{$ctrl.backgroundClassNumberArray[$index]}}">
    <div class="surround"></div>
        <div class="retro_activity_table_flex">
            <retro-activity></retro-activity>
        </div>
    <div class="surround"></div>
</div>
