/* app css stylesheet */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #DFDCE3;
    color: #FFFFFF;

}
a, a:hover, a:visited, a:active{
    color: #FFFFFF;
}

.bg:not(.bg1)  a   {
    color: #FFFFFF !important;
}

.bg1  a {
    color: #000000 !important;
}

.container {
    min-width:800px;
    background-color: #4ABDAC;
}

.scrum_retro_table, .ng-hide .scrum_retro_table {
    margin-top: 20px;
    margin-bottom: 20px;
}


.scrum_retro_table td {
    padding: 4px 12px 4px 12px;

}

.category_search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.column_add_edit_form{
    flex:50%;
}

.add_edit_form {
    display:flex;
    justify-content: flex-start;
    background-color:#1E4363;
    margin: 0 10%;
    padding: 30px;

}

.add_edit_form_label{
    width:100px;
    display:inline-block;
}

.add_edit_form input, .add_edit_form select, .add_edit_form textarea {
    width: 80%;
    margin: 2px;
}

.add_edit_form button {
    margin-top: 10px;
}



.disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}


.actions_container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.title-container {
    width: 100%;
}

.title-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: saturate(2);
}

.title-text {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 30%;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
    z-index: 1;
}


.text-cell {
    padding: 0 20px 0 20px
}

input, select, textarea {
    background-color: #DFDCE3;
    color: #FC4A1A;
}

.img-thumbnail{
    max-widt:20px;
    max-height: 20px;
}
.btn{
    padding: 0px 5px;

}
.btn-primary{
    background-color: #4ABDAC;
    border-color: #4ABDAC;
}

.btn-primary:hover{
    background-color: #4ABDDF;
    border-color: #4ABDDF;

}
.btn-primary:active, .btn-primary:focus, .btn-primary:visited{
    background-color: #4ABDDF !important;
    border-color: #4ABDDF !important;

}

.lightbox-nav .btn-xs {
    display:none
}

.bg{
    display:flex;
    flex-direction: row;
}

.bg0{
    background-color:#1E4363;

}
.bg1{
    background-color:#FCF2CB;
    color:#000000;
}
.bg2{
    background-color:#FFB00D;
}
.bg3{
    background-color:#FF8926;
}
.bg4{
    background-color:#BC2D19;
}

.retro_activity_table_flex{
    width:90%;
    background-color: inherit;
    display:flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.surround{
    width:100%;
    min-height: 200px;
    max-height: 100%;
    background-color:inherit;
    filter: brightness(0.7);
    z-index:1;
}

.main_table_of_activity{
    background-color: inherit;
    z-index: 10;
    min-height: 200px;
    width:1000px;
    display:flex;
    flex-direction: column;
    align-items: baseline;
}

.activity_title{
    display:inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
    height:70px;
    background-color: inherit;

}

.activity_description{
    flex-direction: column;
    background-color: inherit;
    width:100%;
    min-height:130px;
}
.arrows{
    filter: brightness(1.2);
    border:none;
    justify-content: center;
    flex-direction: column;
    display:flex;
    background-color: inherit;
}
.arrows:hover{
    filter: brightness(1.1);
}
.arrows:active{
    border:none;
    filter: brightness(2);
}

.main_menu{
    text-align: center;
    background-color: #FC4A1A;
    display:flex;
    min-height: 60px;
    justify-content: space-around;
    align-items:center;
    width: 57%;
    margin:0 auto;
}
.main_menu_surround{
    background-color: #DC4A1A;
    height: 60px;
}
.errorText{
    color:#FC4A1A;
    display:block;
    margin: 0 auto;
}
.img_click_link{
    cursor:pointer;
}