<div class="main_table_of_activity col-lg-12">
    <div class="activity_title">
        <div style="display: flex; flex-direction: column;">
            <div style="font-size:20px; text-decoration: underline">{{retroActivity.title}}</div>
            <p>{{retroActivity.subtitle}}</p>
        </div>
        <a class="category_title" ng-href="#!/scrumCategorySearch/{{retroActivity.category}}">{{retroActivity.category}}</a>
    </div>
    <div class="activity_description">
       {{retroActivity.description}}
    </div>
    <div ng-if="retroActivity.image.base64">
        <a ng-click="$ctrl.openLighboxModal($index)" class="img_click_link">Pokaż zdjęcie</a>
    </div>
</div>
