
<div class="category_search">
    <div class="main_menu_surround">
        <div class="main_menu" style="width: 1052.56px;" >
        <a ng-href="#!/scrumRetroTable/">Powrót</a>
            <a ng-href="#!/scrumAdd/{{$ctrl.category}}"><button class="btn btn-primary" id="addButton">Dodaj nowy</button></a>
        </div>
    </div>
    <div ng-repeat="retroActivity in $ctrl.retroCategoryActivities" class="bg bg{{$ctrl.backgroundClassNumberArray[$index]}}">
        <div class="surround"></div>
        <div class="retro_activity_table_flex">
            <retro-activity></retro-activity>
        </div>
        <div style="background-color:inherit; display:flex; flex-direction: column; justify-content: space-evenly; z-index:10">
            <button class="btn btn-primary edit_button" ng-click="$ctrl.goToEdit(retroActivity.id, retroActivity.category)">Edycja</button>
            <button class="btn btn-danger delete_button" ng-click="$ctrl.showDeleteConfirmation(retroActivity.id, $event)">Usuń</button>
        </div>

        <div class="surround"></div>
</div>
</div>
