<div ng-init="$ctrl.drawNew()">
    <div class="main_menu_surround">
        <div class="main_menu">
        <a href="#!/scrumSearch/" id="scrumSearchLink">Przejdź do wyszukiwarki</a>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.drawNew()" id="drawAllButton">Losuj</button>
        </div>
    </div>
        <div ng-repeat="retroActivity in $ctrl.arrayOfRetroActivities" class="bg bg{{$ctrl.backgroundClassNumberArray[$index]}}">
            <div class="surround"></div>
            <div class="retro_activity_table_flex">
                <button class="arrows" ng-click="$ctrl.drawSingle($index, retroActivity.category, retroActivity.id)">
                    <div>&larr;</div>
                </button>
                <retro-activity></retro-activity>
                <button class="arrows" ng-click="$ctrl.drawSingle($index, retroActivity.category, retroActivity.id)">
                    <div>&rarr;</div>
                </button>
            </div>
            <div class="surround"></div>

        </div>





</div>
